language: php
env: TRAVIS_PUBLIC_REPOSITORY=true
php:
- 5.5
- 5.6
- 7.0
addons:
  firefox: "47.0.1"
before_script:
- sudo apt-get update -qq
- sudo apt-get install -y --force-yes apache2 libapache2-mod-fastcgi php5-curl php5-mysql php5-intl php5-gd  > /dev/null
- sudo mkdir $(pwd)/.run
- chmod a+x tests/travis-php-fpm.sh
- sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf;
- if [ -f ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.d/www.conf.default ]; then sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.d/www.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.d/www.conf; fi;
- if [ -f ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.d/www.conf ]; then sudo tests/travis-php-fpm.sh ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.d/www.conf $USER; else tests/travis-php-fpm.sh ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf $USER; fi;
- sudo a2enmod rewrite actions fastcgi alias
- echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
- ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
- sudo cp -f tests/travis-ci-apache.conf /etc/apache2/sites-available/default
- sudo sed -e "s?%TRAVIS_BUILD_DIR%?$(pwd)?g" --in-place /etc/apache2/sites-available/default
- git submodule update --init --recursive
- sudo service apache2 restart
- "export DISPLAY=:99.0"
- "sh -e /etc/init.d/xvfb start"
- sleep 3 # give xvfb some time to start
- sudo apt-get install fluxbox -y --force-yes
- fluxbox &
- sleep 3 # give fluxbox some time to start
- cd build
- npm install gulp -g # install globally so that it's available to robo
- npm install
- mv gulp-config.json.dist gulp-config.json
- gulp release --skip-version
- cd ../tests
- mv RoboFile.ini.dist RoboFile.ini

script:
- composer install --prefer-dist
- vendor/bin/robo check:for-missed-debug-code
- vendor/bin/robo check:for-parse-errors
- vendor/bin/robo check:codestyle
- mv acceptance.suite.dist.yml acceptance.suite.yml
- mv api.suite.dist.yml api.suite.yml
- vendor/bin/robo run:tests
- vendor/bin/robo run:unit-tests

notifications:
  slack:
    secure: AeKLAsle7sQ3lGpXeNk0ePovlnf0QTggiKhHuvEH78TD5aN8OjYEqbLBhFWWcejn4hHWHOeR9pUv0wqClEGirMioWI5noQvE6D6bV9oBrAhx2FKLVxCA3YN23i+ehNpk3+FpVhkmagigiEnPZqqFcqFw5x276GVZTC8etNmzs/w=
