class_name: ApiTester
modules:
    enabled:
      - ApiHelper
      - Asserts
      - REST:
          depends: PhpBrowser
          url: http://localhost/tests/joomla-cms3/
      - SOAP:
          depends: PhpBrowser
          endpoint: api_url
          schema: wsdl
