<?xml version="1.0"?>
<contentelement type="contentelement">
  <name>Menus</name>
  <author>redCOMPONENT</author>
  <copyright>Copyright (C) 2008 - 2016 redCOMPONENT.com. All rights reserved.</copyright>
  <version>1.8.3</version>
  <description>Translation definition for Joomla Menu Manager</description>
  <reference>
    <table name="menu">
      <field name="id" type="referenceid" translate="0" alwaysFallback="false" filter="RAW" description="">ID</field>
      <field name="title" type="titletext" translate="1" alwaysFallback="false" filter="RAW" description="">Name</field>
      <field name="alias" type="text" translate="1" alwaysFallback="true" filter="RAW" description="" posthandler="filterTitle">Menu Alias</field>
      <field name="link" type="readonlytext" translate="1" alwaysFallback="true" filter="RAW" description="" posthandler="saveUrlParams">Link</field>
      <field name="path" type="readonlytext" translate="1" alwaysFallback="false" filter="RAW" description="" posthandler="saveMenuPath">Path</field>
      <field name="type" type="text" translate="0" alwaysFallback="false" filter="RAW" description="">Menu Type</field>
      <field name="home" type="hiddentext" translate="1" alwaysFallback="true" filter="RAW" description="">Homepage</field>
      <field name="params" type="params" translate="1" alwaysFallback="true" filter="RAW" description="" formname="item" fieldsname="params" xpath="true">Params</field>
      <field name="published" type="state" translate="1" alwaysFallback="true" filter="RAW" description="">State</field>
      <filter><![CDATA[o.client_id = 0 AND o.lft > 0]]></filter>
    </table>
    <component>
      <editForm admin="true" option="com_menus" view="item" layout="edit" identifier="id" showbutton="true" htmlposition=".btn-toolbar:first" checkoriginalid="false"/>
    </component>
  </reference>
</contentelement>
